
#titulo{
  
  position: absolute;
  left: 370px;
  top: 20px;
  font-size:30px;
  
}



#linea_ini{

    margin-top: 145px;

}


#logo {

    position: absolute;
    left: 418px;
    top: 80px;
    width:30px;
}



/* Cuadro dirección */

#direccion{

    position: absolute;
    top:180px;
    left: 80px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:425px;
    height : 137px;
}


#pincel_dir{

    position: absolute;
    top: 167px;
    left: 55px;

}




/* Cuadro saldos */

#saldos{
  
    position: absolute;
    top:340px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:425px;
    left: 80px;

}


#pincel_sal{

    position: absolute;
    left: 60px;
    right: 245px;
    top: 325px;
    height: 200px;

}


/* Cuadro resumen */

#resumen{

  position: absolute;
  left:535px;
  top:180px;
  font-size: 14px;
  border: 1.2px solid grey;
  border-radius: .5em;
  width:368px;
  height: 137px;

}

#pincel_res{

    position: absolute;
    left: 510px;
    right: 250px;
    top: 170px;
    height: 200px;

}



/* Cuadro cat */


#cat{

  position: absolute;
  left:535px;
  top:340px;
  font-size: 14px;
  border: 1.2px solid grey;
  border-radius: 5px;
  width:368px;
  height: 130px;

}

#pincel_cat{

    position: absolute;
    left: 510px;
    right: 250px;
    top: 330px;
    height: 200px;

}




/* Cuadro rfc */

#rfc{

  position: absolute;
  left:535px;
  top: 480px;
  font-size: 14px;
  border: 1.2px solid grey;
  border-radius: 5px;
  width:368px;
  height: 155px;
  padding-top: 10px;


}



/* Cuadro movimientos */

#movs{

    position: absolute;
    top: 680px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:650px;
    left: 140px;
    padding-left: 15px;


}




#pincel_movs{

    position: absolute;
    left: 80px;
    top: 655px;


}




/* Pie de página */


#pag{

  
  position: absolute;
  left:30px;
  top :1225px;
  font-size: 13px;



}



#pie_img{

    position: absolute;
    top: 1250px;
    height: 40px;
    width: 800px;
    left: -10px;


}


/* Contacto */



#escudo {
	position: absolute;
    left: 18px;
    top: 8px;
    width: 50px; 
    height: 50px;
}

#uso{

    position: absolute;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width: 700px;
    left: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


#call {
	position: absolute;
    left: 18px;
    top: 1px;
    width: 50px; 
    height: 50px;
}



#center{

    position: absolute;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width: 700px;
    left: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#escudo {
	position: absolute;
    left: 18px;
    top: 8px;
    width: 50px; 
    height: 50px;
}

#uso{

    position: absolute;
    top: 60px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:670px;
    left: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


#call {
	position: absolute;
    left: 18px;
    top: 1px;
    width: 50px; 
    height: 50px;
}

#center{

    position: absolute;
    top: 330px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:670px;
    left: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}


#books {

    position: absolute;
    left: 18px;
    top: 10px;
    width: 50px; 
    height: 50px;
}

#glos {

    position: absolute;
    top: 530px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:670px;
    left: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

}

#web {

    position: absolute;
    left: 18px;
    top: 10px;
    width: 50px; 
    height: 50px;
}

#prof {

    position: absolute;
    top: 690px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:670px;
    left: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

}


#extra {

    position: absolute;
    top: 915px;
    font-size: 14px;
    border: 1.2px solid grey;
    border-radius: 5px;
    width:670px;
    left: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 10px;

}




